{% for i in (1..5) %}
{% capture collection_widget %}collection_widget_{{i}}{% endcapture %}
{% if settings[collection_widget] != blank %}
<div class="col-lg-2dot4 col-6 col-md-4">
  {% include settings[collection_widget] %}
</div>
{% endif %}
{% endfor %}

<!-- #secondary -->
